<%- include('layout/_header') %>

<form action="" method="post" class="form-horizontal">
  <% errors.forEach(function(error){ %>
  <div class="errmessage alert alert-danger" role="alert">
      <strong><%= error.title %></strong> %= error.message %>
  </div>
  <% }) %>


    <div class="form-group">
        <label for="name-input" class="control-label col-sm-3">ФИО*</label>
        <div class="col-sm-3">
            <input name="name" id="name-input" class="form-control" type="text" placeholder="Фамилия" required>
        </div>
    </div>
    <div class="form-group">
        <label for="email-input" class="control-label col-sm-3">Электронная почта*</label>
        <div class="col-sm-3">
            <input name="email" id="email-input" class="form-control" type="email" placeholder="Email" required>
        </div>
    </div>

    <div class="form-group">
        <label for="pass-input" class="control-label col-sm-3">Пароль*</label>
        <div class="col-sm-3">
            <input name="password" id="pass-input" class="form-control" type="password" placeholder="Пароль" required>
        </div>
    </div>

    <div class="form-group">
        <label for="again-pass-input" class="control-label col-sm-3">Повторите пароль*</label>
        <div class="col-sm-3">
            <input name="passwordagain" id="again-pass-input" class="form-control" type="password" placeholder="Повтор пароля" required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
            <input type="submit" value="Регистрация" class="form-control btn btn-primary">
        </div>
    </div>
</form>


<%- include('layout/_footer') %>
