</div>

<footer>
  <hr>
    <div class="container-fluid">
        <p>
            Collective mind<i class="glyphicon glyphicon-copyright-mark"></i> 2017
        </p>
    </div>
</footer>

</div>
</body>
</html>
